html {
  font-size: 3vw;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,229,229,1) 0%, rgba(209,244,213,1) 0%, rgba(231,235,197,0.5438550420168067) 0%, rgba(190,224,231,1) 100%);
}

main {
  position: relative;
}

#main-title {
  font-family: 'Impact', sans-serif;
  color: darkblue;
  letter-spacing: 0.25vw;
  text-align: center;
  font-size: 6.5vw;
}

#main-container {
  text-align: center;
  margin: 5vw 5vw 5vw 5vw;
  padding: 0 5vw 0 5vw;
}

.ranking-container {
  margin: 0 10vw 2vw 10vw;
  padding-bottom: 1vw;
  border: 2px dashed rgb(139, 83, 82);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(192,232,182,1) 0%);
}

.click-zone {
  cursor: pointer;
}

.click-zone, .click-zone-blocked {
  border: 2px solid rgb(61, 42, 5);
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: rgb(240, 240, 240);
}

.click-zone:hover {
  background-color: rgb(220, 220, 220);
}

.click-zone:active {
  background-color: rgb(200, 200, 200);
}

.click-zone, .timer {
  user-select: none;
}

strong {
  font-size: 110%;
}

.rules-out {
  visibility: hidden;
}

.ranking h1 {
  margin-left: 2.5vw;
}

.ranking li {
  list-style-type: none;
}

.ranking button {
  margin-left: 10vw;
}

.prompt {
  margin-top: 1.5vw;
}

button {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  justify-content: center;
  padding: 0.2vw;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

button:active, button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 0.2vw 0.3vw;
  border-radius: 6px;
  transition: 300ms;
}

button:hover span {
  background: none;
}

@media screen and (min-width:56em) {

  html {
    font-size: 1.45vw;
  }

  .ranking-container {
    position: absolute;
    width: 30vw;
    height: 30vw;
    top: 9vw;
    left: 65vw;
    margin: 0 0 0 0;
    padding-bottom: 0;
  }

  #main-title {
    font-size: 3.4vw;
  }

  #main-container {
    margin: 5vw 35vw 0 15vw;
  }

  .click-zone, .click-zone-blocked {
    width: 40vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .rules, .rules-out {
    width: 45vw;
    margin-left: -2.5vw;
  }

  .ranking button {
    margin-left: 5vw;
  }

}